$White: #ffffff;
$black: #000000;
$font-family: "Montserrat", sans-serif;
// ........................................
$cadet-gray: #959BAB;

// skill set color
$lavender: #CDB8FF;
$light-pink: #FFB5FB;
$magenta: #FF73A9;
$pale-green: #94D2BD;
$mint-green: #5EC5C5;
$coral: #FA6059;
$vivid-orange: #FF7F3E;
$golden-yellow: #FFB600;

$pale-silver: #f9fbfbbd;


// Resume set color
$frosty-gray: #EDF2F2;
$neutral-black: #212121;
$color-underline: #212121;
$custom-ease-out: cubic-bezier(0.165, 0.84, 0.44, 1)